:root {
  --red: #ea5454;
  --cyan: #44d3d2;
  --orange: #fcae4a;
  --blue: #549ef2;
  --very_dark_blue: #4d4f62;
  --very_light_gray: #fafafa;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/poppins-v21-latin-200.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('./fonts/poppins-v21-latin-200.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/poppins-v21-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('./fonts/poppins-v21-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/poppins-v21-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('./fonts/poppins-v21-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* .poppins-extralight {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
} */
/* ----------------------------------------------------- */

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--very_light_gray);
  color: var(--very_dark_blue);
  margin-block: 80px;
  margin-inline: auto;
  max-width: 1110px;
  min-height: 762px;

}
h1,
header p {
  text-align: center;
}
h1 {
  font-weight: 600;
  margin-block-end: 13px;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 0.25px;
  p {
    font-weight: 200;
    font-size: 36px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
  }
}
header > p {
  width: 540px;
  height: 50px;
  margin-inline: auto;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.104px;
}
header {
  margin-block-end: 64px;
}
h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
p {
    opacity: 0.5;
}

/* ------------------------------------------- */

main {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
section {
  width: 350px;
  height: 250px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  padding: 32px;
  margin-block-end: 30px;
  border-top: 4px solid #44d3d2;
  background-image: url(./images/icon-supervisor.svg);
  background-repeat: no-repeat;
  background-position: bottom 32px right 32px;

  h2 {
    font-size: 20px;
    line-height: normal;
    margin-block-end: 6px;
  }
  p {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.09px;
    text-wrap: stable;
  }
}
.calc {
  border-top-color: var(--blue);
  background-image: url(./images/icon-calculator.svg);
}
.team {
  border-top-color: var(--red);
  background-image: url(./images/icon-team-builder.svg);
}
.karma {
  border-top-color: var(--orange);
  background-image: url(./images/icon-karma.svg);
}
